<div class="footer">
  <hr />
  <div class="footer-link">
    <a href="https://benwiz.io/"><i class="fa fa-home" aria-hidden="true"></i></a>

    {% if site.author.facebook %}
    <a href="https://www.facebook.com/{{ site.author.facebook }}"><i class="fab fa-facebook" aria-hidden="true"></i></a>
    {% endif %}

	  {% if site.author.youtubeUser %}
    <a href="https://www.youtube.com/user/{{ site.author.youtubeUser }}"><i class="fab fa-youtube" aria-hidden="true"></i></a>
    {% endif %}

  	{% if site.author.youtubeChannel %}
    <a href="https://www.youtube.com/channel/{{ site.author.youtubeChannel }}"><i class="fab fa-youtube-play" aria-hidden="true"></i></a>
    {% endif %}

    {% if site.author.twitter %}
    <a href="https://twitter.com/{{ site.author.twitter }}"><i class="fab fa-twitter" aria-hidden="true"></i></a>
    {% endif %}

    {% if site.author.github %}
    <a href="https://github.com/{{ site.author.github }}"><i class="fab fa-github" aria-hidden="true"></i></a>
    {% endif %}

    {% if site.author.stackoverflow %}
    <a href="http://stackoverflow.com/users/{{ site.author.stackoverflow }}"><i class="fab fa-stack-overflow" aria-hidden="true"></i></a>
    {% endif %}

	 {% if site.author.quora %}
    <a href="https://www.quora.com/profile/{{ site.author.quora }}"><i class="fab fa-quora" aria-hidden="true"></i></a>
    {% endif %}

    {% if site.author.linkedin %}
    <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
    {% endif %}

 	 {% if site.author.pinterest %}
    <a href="https://www.pinterest.com/{{ site.author.pinterest }}"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
    {% endif %}

	  {% if site.author.googlePlus %}
    <a href="https://plus.google.com/{{ site.author.googlePlus }}"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
    {% endif %}

	  {% if site.author.instagram %}
    <a href="https://www.instagram.com/{{ site.author.instagram }}"><i class="fab fa-instagram" aria-hidden="true"></i></a>
    {% endif %}

	  {% if site.author.reddit %}
    <a href="https://www.reddit.com/user/{{ site.author.reddit }}"><i class="fab fa-reddit" aria-hidden="true"></i></a>
    {% endif %}

    {% if site.author.medium %}
    <a href="https://medium.com/@{{ site.author.medium }}"><i class="fab fa-medium" aria-hidden="true"></i></a>
    {% endif %}

    {% if site.author.tumblr %}
    <a href="https://{{ site.author.tumblr }}.tumblr.com"><i class="fab fa-tumblr" aria-hidden="true"></i></a>
    {% endif %}

    {% if site.author.email %}
    <a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    {% endif %}

    <a href="{{ site.url }}{{ site.baseurl }}/status/"><i class="fas fa-clock" aria-hidden="true"></i></a>
  </div>
  {{ site.copyright.name }}
</div>
