@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  background-color: #E4E4E2;
}

#container {
  max-width: 770px;
  margin: 0 auto;
}
